@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
  .mycontainer {
    @apply container;
  }
}
html, body, #root {
  height: 100%;
}

#root {
  display: flex;
  flex-direction: column;
}